.header {
    padding-left:50px;
    padding-bottom: 10px;
    border-bottom: 1px solid red;
}

.title {
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 250%;
    margin:0;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
    letter-spacing: 1.2px;
}


.nav-inline > a{
    padding-left: 20px;
    font-size: 130%;
}


/* -------NAV --------
----------------------
---------------------- */

.view {
    margin-top: 100px;
}

table {
}

table, td {
    padding: 10px;
}

#date, #source {
    font-size: 12px;
}

table, a {
    font-size: 15px;
}

.nav-about {
    text-align: right;
}

.nav {
  margin-right: -21px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: 'Raleway', sans-serif;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 50px;
  padding-top:0px;
  padding-bottom: 0px;
  text-align: right;

}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  /*background-color: #428bca;*/
}

/* -------PIE --------
----------------------
---------------------- */
#pie {

}


ul {
    padding: 0;
}

.main {

}

.main > h3 {
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid black;
}

#articles {
    font-family: 'Raleway', sans-serif;
    height: 400px;
    overflow-y: auto;
}

#articles, a { color: red;}
#articles, a:hover {
    color: black;
    text-decoration: none;
}



/******ISSUES*****/

.navbar-fixed-top {
    padding: 15px;
    background-color: white;
}

.about {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
    padding: 15px;


    border: 1px solid none;
    border-radius: 20px;
    background-color: #e5e7ea;

    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 400%;

}

.people-row, .news-row {
    margin: 50px;
    padding-bottom: 50px;
}

.people-row {
    border-bottom: 1px solid #e5e7ea;

}

.top-10 {
    font-family: 'Raleway', sans-serif;
    margin-top: 10%;
}

.top-10 > p {
    font-size: 120%;
    border-bottom: 1px solid gray;

}

.top-10 > p > span {
    /*text-shadow: 2px 1px red;
    text-decoration:underline;*/
    color:red;
}

.top-10 > span {
    font-family: 'Playfair Display', serif;
    font-size: 180%;
    color: black;
}
