.header {
    color: black;
    text-align: left;
    padding-left:50px;

    font-family: 'Playfair Display', serif;
    font-weight: 900;

    margin:20px;
    border-bottom: 2px solid red;
}

.title {
    font-size: 300%;
}


/* -------NAV --------
----------------------
---------------------- */
.nav-about {
    text-align: right;
}

.nav {
  margin-right: -21px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: 'Raleway', sans-serif;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 50px;
  padding-top:0px;
  padding-bottom: 0px;
  text-align: right;

}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  /*background-color: #428bca;*/
}

/* -------PIE --------
----------------------
---------------------- */
#pie {

}


ul {
    padding: 0;
}

.main {

}

.main > h3 {
    font-family: 'Playfair Display', serif;
}

#articles {
    font-family: 'Raleway', sans-serif;
    height: 380px;
    overflow-y: auto;
}

#articles, a { color: red;}
#articles, a:hover {
    color: black;
    text-decoration: none;
}



/******ISSUES*****/
.issues {
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
    margin-top: 40px;
}

.about {
    font-size: 150%;
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid red;
    border-radius: 20px;
}

.top-10 > p {
    font-size: 150%;
    border-bottom: 2px solid gray;

}

.top-10 > p > span {
    /*text-shadow: 2px 1px red;
    text-decoration:underline;*/
    color:red;
}

.top-10 > span {
    font-family: 'Playfair Display', serif;
    font-size: 180%;
    color: black;
}
