/* Index */

.state-view > h1 {
    text-align: center;
}

.state-view, .state-topics > table  {
    width: 100%;
}

.state-view, .clinton, .state-topics {
    min-height: 100px;
}

.state-view, .trump, .state-topics {
    min-height: 100px;
}


/* Nation view  */

.nation-view > h1 {
    text-align: center;
}

.distrib-topics {
    width: 100%;
}
