/* Index */

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f7f7f7;
    font-size: 12px;
}

nav {
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: 'Raleway', sans-serif;
}

.title {
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 250%;
    margin:0;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 90%;
    letter-spacing: 1.2px;
}

.navbar-fixed-top {
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid red;
}


.form-div-parent {
    margin-left:0;
    margin-right: 0;
    margin-top: 80px;
    width: 100%;
    min-height: 20px;
}

.form-div-child {
    margin: 0 auto;
    height: auto;
    width: 30%;
    position: relative;
}

.form-div-parent-article {
    margin-top: 80px;
    margin-left:0;
    margin-right: 0;
    width: 100%;
    min-height: 20px;
}

.form-div-child-article {
    margin: 0 auto;
    height: auto;
    min-width: 900px;
    position: relative;
}

.state-list td {
    color: #f9f9f9;
}

.state-view > h1 {
    text-align: center;
}


.state-view, .state-topics, table, td {
    padding:0 15px 0 0;
}

.state-view, .clinton, .state-topics {
    min-height: 100px;
}

.state-view, .trump, .state-topics {
    min-height: 100px;
}


/* Nation view  */
.nation-view > h1 {
    text-align: center;
}

.distrib-topics, table {
    width: 100%;
}

.distrib-topics {
    border: 1px solid #DEDEDE;
    text-indent: 20px;
}

.distrib-topics td {
    color: #f9f9f9;
}

.posArticles tbody {
    display: block;
    max-height: 400px;
    overflow: auto;
}


/*******************
 * Topic Table
 */

.topic_row {
    height: 40px;
}

.topic_col {
    text-transform: uppercase;
    letter-spacing: 1px;
}



/******************
 * MODAL VIEW
 */

#modal-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

#modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

#modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    background: white;
    overflow-y: scroll;
}

.modal--open {
    overflow-y: hidden;
}

/******************
 * MISC
 */

img.candidate-pic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0;
}

#dc-label {
    cursor: pointer;
    padding: 5px;
}

/* Article Find */
.content {
    margin-top: 30px;
}
.keyword-articles {
    margin: 20px;
    margin-right: 50px;
}
